<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="img/vps-icon.jpg" />
    <title>Inicio</title>
    <!--Bootstrap-->
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!--Angular-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <!--Estilos-->
    <link rel="stylesheet" href="css/style.css" />
    <script
      type="text/javascript"
      src="controller/ui-bootstrap-tpls-2.5.0.min.js"
    ></script>
    <!--Scripts-->
    <script type="text/javascript" src="controller/main.js"></script>
    <script type="text/javascript" src="controller/config.js"></script>
    <script type="text/javascript" src="controller/routing.js"></script>
    <script type="text/javascript" src="controller/game-1.js"></script>
    <script type="text/javascript" src="controller/game-2.js"></script>
    <script type="text/javascript" src="controller/cliente.js"></script>
    <script type="text/javascript" src="controller/orden.js"></script>
    <script type="text/javascript" src="controller/productos.js"></script>
    <script type="text/javascript" src="controller/iniciar-sesion.js"></script>
    <script type="text/javascript" src="controller/orden-nueva.js"></script>
  </head>

  <body ng-app="MainApp" ng-controller="mainCtrl as main">
    <div
      class="main-container container-fluid"
    >
      <!--Header-->
      <header>
        <!--Barra de Navegacion-->
        <nav
          class="navbar navbar-inverse navbar-fixed-top"
          ng-controller="activeNav"
        >
          <div class="container-fluid">
            <div class="navbar-header">
              <button
                class="navbar-toggle"
                type="button"
                data-toggle="collapse"
                data-target="#myNavbar"
              >
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="/img/vps-logo.png" alt="VPS Logo" />
              </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li>
                  <a ng-class="{ active: isActive('/') }" href="#/!">Inicio</a>
                </li>
                <li>
                  <a
                    ng-class="{ active: isActive('/game-1') }"
                    ng-show="main.logueado"
                    href="#!game-1"
                    >Juego 1</a
                  >
                </li>
                <li>
                  <a
                    ng-class="{ active: isActive('/game-2') }"
                    ng-show="main.logueado"
                    href="#!game-2"
                    >Juego 2</a
                  >
                </li>
                <li class="dropdown">
                  <a
                    href=""
                    ng-show="main.logueado"
                    class="dropdown-toggle"
                    data-toggle="dropdown"
                  >
                    Northwind
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a
                        ng-class="{ active: isActive('/cliente') }"
                        href="#!cliente"
                        >Clientes</a
                      >
                    </li>
                    <li>
                      <a
                        ng-class="{ active: isActive('/productos') }"
                        href="#!productos"
                        >Productos</a
                      >
                    </li>
                    <li>
                      <a
                        ng-class="{ active: isActive('/orden') }"
                        href="#!orden"
                        >Ordenes</a
                      >
                    </li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a
                    ng-class="{ active: isActive('/iniciar-sesion') }"
                    ng-show="(!main.logueado)"
                    href="#!iniciar-sesion"
                    ><span class="glyphicon glyphicon-log-in"></span> Ingresar</a
                  >
                </li>
                <li>
                  <a
                    ng-class="{ active: isActive('/iniciar-sesion') }"
                    ng-show="main.logueado"
                    ng-click="main.logueado = false"
                    href="#!iniciar-sesion"
                    ><span class="	glyphicon glyphicon-log-out"></span> Cerrar
                    Sesión</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!--Carrusel IMG-->
        <div
          ng-controller="activeNav"
          class="main-class"
          ng-class="{ active: !isActive('/') }"
        >
          <div ng-controller="mainCarrusel as carrusel">
            <div
              uib-carousel
              active="carrusel.active"
              interval="carrusel.miIntervalo"
              no-wrap="carrusel.noWrapSlides"
            >
              <div
                class="item"
                uib-slide
                ng-repeat="slide in carrusel.listaSlides track by slide.id"
                index="slide.id"
              >
                <img ng-src="{{ slide.img }}" style="margin: auto" />
                <div class="carousel-caption">
                  <h3>{{ slide.info }}</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!--Main-->
      <main>
        <div class="container">
          <div ng-view></div>
        </div>
      </main>

      <!--BREADCRUMB-->
      <section>
        <ol class="breadcrumb" ng-controller="activeNav">
          <li><a ng-class="{ active: isActive('/') }" href="#/!">Inicio</a></li>
          <li ng-show="main.logueado">
            <a ng-class="{ active: isActive('/game-1') }" href="#!game-1"
              >Juego 1</a
            >
          </li>
          <li ng-show="main.logueado">
            <a ng-class="{ active: isActive('/game-2') }" href="#!game-2"
              >Juego 2</a
            >
          </li>
          <li ng-show="main.logueado">
            <a ng-class="{ active: isActive('/cliente') }" href="#!cliente"
              >Cliente</a
            >
          </li>
          <li ng-show="main.logueado">
            <a ng-class="{ active: isActive('/productos') }" href="#!productos"
              >Productos</a
            >
          </li>
          <li ng-show="main.logueado">
            <a ng-class="{ active: isActive('/orden') }" href="#!orden"
              >Orden</a
            >
          </li>
        </ol>
      </section>

      <!--Footer-->
      <footer>
        <!--Información-->
        <div class="container">
          <div class="row">
            <div class="col-sm-4" ng-show="main.logueado">
              <h4>Juegos</h4>
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="#!game-1"
                    ><span class="glyphicon glyphicon-blackboard"></span> Juego
                    1</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="#!game-2"
                    ><span class="glyphicon glyphicon-blackboard"></span> Juego
                    2</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-sm-4" ng-show="main.logueado">
              <h4>Northwind</h4>
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="#!cliente"
                    ><span class="glyphicon glyphicon-list-alt"></span>
                    Clientes</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="#!productos"
                    ><span class="glyphicon glyphicon-list-alt"></span>
                    Productos</a
                  >
                </li>
                <li class="list-group-item">
                  <a href="#!orden"
                    ><span class="glyphicon glyphicon-list-alt"></span> Ordenes</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h4>Contacto</h4>
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="glyphicon glyphicon-envelope"></span>
                  soporte@vpssoftware.com
                </li>
                <li class="list-group-item">
                  <span class="glyphicon glyphicon-map-marker"></span> Carrera
                  87C # 51-69 Sur, Bogotá - Colombia
                </li>
                <li class="list-group-item">
                  <span class="glyphicon glyphicon-phone-alt"></span> 7022796 -
                  5511095
                </li>
                <li class="list-group-item">
                  <span class="glyphicon glyphicon-phone"></span> 311 451 9129 -
                  317 656 4490
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--Copyright-->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 footer-end">
              <p>
                <span class="glyphicon glyphicon-copyright-mark"></span>
                {{ main.fecha | date : "y" }}<strong> VPS SOFTWARE</strong> Todos los derechos
                reservados.
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
