/* Examples CSS - https://freefrontend.com/css-gallery/ */

/* ------------------------------------- VARIABLES ------------------------------------- */


/* --------------------------------------- GLOBAL --------------------------------------- */

table {
    caption-side: bottom;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
    border-color: #dee2e6;
    color: #212529
}

table > :not(caption) > * > * {
    padding: 8px;
    background-color: transparent;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px transparent;
}

thead, tbody, tfoot, tr, th, td { 
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

thead { vertical-align: bottom; }

tbody { vertical-align: inherit; }

/* ------------------------------------- CLASES ------------------------------------- */

.container, .container-absolute-size {
    width: 100%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5); 
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
	margin-right: calc(-0.5 * var(--gutter-x));
    margin-left: calc(-0.5 * var(--gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc((var(--gutter-x) * 0.5));
    margin-top: var(--gutter-y);
}

.col {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%;
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12
.col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: rgba(0, 0, 0, 0.05);
    color: #212529;
}

.table-bordered > :not(caption) > * { border-width: 1px 0; }

.table-bordered > :not(caption) > * > * { border-width: 0 1px; }

.table-hover > tbody > tr:hover > * { background-color: rgba(0, 0, 0, 0.07); }