<div class="nav shift" ng-class="{ 'collapse-in' : toggleNav == 'In', 'collapse' : toggleNav == 'Down' }">
    <ul>
        <li>
            <a href="#"><i class="fa-solid fa-circle-play"></i> Logo</a>
        </li>
        <li>
            <div class="btn-menu" ng-class="toggleMenu ? 'active' : 'not-active'" ng-click="toggleMenuAction()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-house"></i> Inicio</a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-bookmark"></i> Mi Lista</a>
        </li>
        <li>
            <a href="#"><i class="fa-solid fa-heart"></i> Favoritos</a>
        </li>
    </ul>
</div>