<div class="pptsl-container">
    <div ng-include="'views/Juegos/main.html'"></div>
    <div class="panel panel-default rules">
        <div class="panel-heading">
            <span>Reglas</span>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="regla in pptsl.reglas">{{ $index + 1 }}. {{ regla }}</li>
            </ul>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="button" ng-click="redirectLink('/Juegos/PPTLS/Jugar')">Jugar</button>
    </div>
</div>