<swiper-container slides-per-view="1" autoplay-delay="3000" autoplay-disable-on-interaction="false" speed="1000" parallax="true" pagination="true" pagination-clickable="true" rewind="true">
    <swiper-slide ng-repeat="new in news">
        <img data-swiper-parallax="-23%" ng-src="{{ new.Picture }}" alt="{{ new.Name }}" class="main-img"/>
        <span data-swiper-parallax="-23%" class="main-shadow"></span>
        <div class="description">
            <h1 data-swiper-parallax="-300">{{ new.Name }}</h1>
            <br />
            <p data-swiper-parallax="-200">{{ new.Description }}</p>
        </div>
    </swiper-slide>
</swiper-container>