<div class="my-game-one" ng-controller="miPrimerJuego as juego1">
  <!--Header-->
  <div class="jumbotron">
    <div style="background-image: url('../img/game1/game-1-3.jpg');"></div>
    <h1>Piedra - Papel - Tijera - Lagarto - Spock</h1>
  </div>
  <!--Main-->
  <div class="row">
    <!--Page content-->
    <div class="page-header-img col-sm-12">
      <p class="lead text-justify">
        Piedra, Papel, Tijera, Lagarto o Spock es una expansión de los clásicos
        método de selección de juego piedra-papel-tijeras.
      </p>
      <img
        class="img-rounded"
        src="/img/game1/game-1-2.png"
        alt="Juego 1"
        width="100%"
      />
      <div style="margin-top: 20px">
        <dl class="text-justify">
          <strong>Piedra, Papel, Tijera, Lagarto o Spock</strong> funciona en el
          mismo principio básico, pero incluye dos armas adicionales: el lagarto
          (formado por la mano como un títere de calcetín como la boca) y Spock
          (formado por la mano Vulcana de Star Trek). Esto reduce las
          posibilidades de un final redondo en un empate. El juego fue inventado
          por Sam Kass con Karen Bryla.
        </dl>
        <p class="text-justify">
          El juego fue mencionado en cuatro episodios de The Big Bang Theory. De
          acuerdo con una entrevista con Kass, los productores de la serie no
          pidieron permiso para usar el juego, pero más tarde se hace referencia
          en un episodio de la quinta temporada.
        </p>
      </div>
      <!--Reglas-->
      <div class="page-header">
        <h1>Reglas: </h1>
      </div>
      <div class="panel-group panel-reglas">
        <div class="panel panel-default">
          <div class="panel-heading panel-list">
            <h4 class="panel-title">
              <button
                data-toggle="collapse"
                href="#collapseList"
                ng-click="juego1.active = !juego1.active"
              >
                Desplegar Lista...
                <i
                  class="pull-right glyphicon glyphicon-chevron-right"
                  ng-class="{'glyphicon-chevron-down': juego1.active, 'glyphicon-chevron-right': !juego1.active}"
                ></i>
              </button>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="collapseList">
            <ul class="list-group">
              <li
                ng-repeat="(indice, regla) in juego1.reglasJuego"
                class="list-group-item"
              >
                {{ indice + 1 }}. {{ regla }}
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="page-header">
        <h1>Pruebalo Tu Mismo: </h1>
      </div>
    </div>

    <!--Jugador 1-->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-user"></span>
          <h3>{{ juego1.j1.nombre }}</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="p1">Nombre:</label>
              <input
                type="text"
                ng-change="juego1.j1.ganadasJ1 = 0"
                autocomplete="off"
                class="form-control"
                id="p1"
                ng-model="juego1.j1.nombre"
                placeholder="Nombre..."
              />
            </div>

            <div class="form-group">
              <label for="p1es">Estrategia:</label>
              <ul id="p1es">
                <li ng-repeat="estrategia in juego1.opcionesJuego">
                  <label>
                    <input
                      type="radio"
                      name="opcionesJuego"
                      ng-model="juego1.j1.estrategia"
                      value="{{ estrategia.opcionInfo }}"
                    />
                    <img
                      ng-click="juego1.j1.img = estrategia.opcionImg"
                      ng-class="{ 'img-activa' : juego1.j1.estrategia == estrategia.opcionInfo }"
                      ng-src="{{ estrategia.opcionImg }}"
                      alt="{{ estrategia.opcionInfo }}"
                      width="100px"
                    />
                  </label>
                  <span class="help-block text-center"
                    >{{ estrategia.opcionInfo }}</span
                  >
                </li>
              </ul>
            </div>

            <!--Estadisticas-->
            <div class="alert alert-info">
              <strong>Victorias</strong>
              <span class="badge">{{ juego1.j1.ganadasJ1 }}</span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Jugador 2-->
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-user"></span>
          <h3>{{ juego1.j2.nombre }}</h3>
        </div>
        <div class="panel-body">
          <form>
            <div class="form-group">
              <label for="p2">Nombre:</label>
              <input
                type="text"
                ng-change="juego1.j2.ganadasJ2 = 0"
                autocomplete="off"
                class="form-control"
                id="p2"
                ng-model="juego1.j2.nombre"
                placeholder="Nombre..."
              />
            </div>

            <div class="form-group">
              <label for="p2es">Estrategia:</label>
              <ul id="p2es">
                <li ng-repeat="estrategia in juego1.opcionesJuego">
                  <label>
                    <input
                      type="radio"
                      name="opcionesJuego"
                      ng-model="juego1.j2.estrategia"
                      value="{{ estrategia.opcionInfo }}"
                    />
                    <img
                      ng-click="juego1.j2.img = estrategia.opcionImg"
                      ng-class="{ 'img-activa' : juego1.j2.estrategia == estrategia.opcionInfo }"
                      ng-src="{{ estrategia.opcionImg }}"
                      alt="{{ estrategia.opcionInfo }}"
                      width="100px"
                    />
                  </label>
                  <span class="help-block text-center"
                    >{{ estrategia.opcionInfo }}</span
                  >
                </li>
              </ul>
            </div>

            <!--Estadisticas-->
            <div class="alert alert-info">
              <strong>Victorias</strong>
              <span class="badge">{{ juego1.j2.ganadasJ2 }}</span>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!--Iniciar juego-->
    <div class="col-sm-12">
      <!--Modal-->
      <div id="modal-game">
        <!--Modal template-->
        <script type="text/ng-template" id="game-1.html">
          <div class="modal-header">
              <h1 class="modal-title" id="modal-title">{{ juego1.res.estado }}</h1>
          </div>
          <div class="modal-body" id="modal-body" style="background-image: url('/img/game1/victoria.png'); transform: scale(1.1);">
              <div>
                  <h2>{{ juego1.res.nombre }}</h2>
                  <div>
                      <img class="img-result" ng-src="{{ juego1.res.img }}">
                  </div>
                  <h3><em>{{ juego1.res.razon }}</em></h3>
              </div>
          </div>
          <div class="modal-footer">
              <button class="btn btn-primary" type="button" ng-click="juego1.cerrarModal()">Cerrar</button>
          </div>
        </script>
        <!--Valida todos los campos estan correctos-->
        <button
          type="button"
          class="btn btn-primary btn-block"
          ng-disabled="!(juego1.j1.nombre && juego1.j1.estrategia && juego1.j2.nombre && juego1.j2.estrategia)"
          ng-click="juego1.comenzarJuego()"
          style="margin-bottom: 20px"
        >
          Jugar
        </button>
      </div>
    </div>
  </div>
</div>
