<div class="jumbotron">
    <div style="background-image: url('{{ contenidoPagina.img }}');"></div>
    <h1>{{ contenidoPagina.titulo }}</h1>
</div>
<div class="row content-game">
    <div class="col-sm-12">
        <p class="lead" ng-if="contenidoPagina.lead">
            {{ contenidoPagina.lead }}
        </p>
        <img ng-if="contenidoPagina.contenidoImg" ng-src="{{ contenidoPagina.contenidoImg }}" alt="{{ contenidoPagina.titulo }}">
        <div class="text-justify" ng-if="contenidoPagina.contenido">
            <span ng-bind-html="contenidoPagina.contenido"></span>
        </div>
    </div>
</div>