<div class="nav shift" ng-class="{ 'collapse-in' : toggleNav == 'In', 'collapse' : toggleNav == 'Down' }">
    <ul>
        <li>
            <a href="#!/Inicio"><i class="fa-solid fa-circle-play"></i> Logo</a>
        </li>
        <li>
            <div class="btn-menu" ng-class="toggleMenu ? 'active' : 'not-active'" ng-click="toggleMenuAction()">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </li>
        <li>
            <a href="#!/Inicio" ng-class="{ 'active' : isActive('/Inicio') }"><i class="fa-solid fa-house"></i> Inicio</a>
        </li>
        <li>
            <a href="#!/Listado" ng-class="{ 'active' : isActive('/Listado') }"><i class="fa-solid fa-list"></i> Listado</a>
        </li>
    </ul>
</div>