<div ng-controller="ordenCtrl as ordenes">
  <!--Header-->
  <div class="jumbotron">
    <div style="background-image: url('../img/northwind/orden-2.jpeg')"></div>
    <h1>Orden</h1>
  </div>
  <!--Main-->
  <div class="row">
    <div class="col-sm-12 north-list">
      <form>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-11">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  ng-model="ordenes.ordenDato.id"
                  placeholder="Digita el ID de la orden que deseas buscar..."
                  ng-keyup="ordenes.buscarOrden(ordenes.ordenDato.id)"
                  ng-disabled="ordenes.opciones.nuevo == true"
                />
              </div>
            </div>
            <div class="col-sm-1 text-center">
              <button class="btn btn-primary" style="margin-bottom: 15px" ng-class="{ 'activeBtn' : ordenes.opciones.nuevo == true }" ng-click="ordenes.opciones.nuevo = true">
                Agregar
              </button>
              <button class="btn btn-warning" style="margin-bottom: 15px" ng-class="{ 'activeBtn' : ordenes.opciones.nuevo == false }" ng-click="ordenes.opciones.nuevo = false">
                Cancelar
              </button>
            </div>
          </div>
        </div>
        <!--Error-->
        <div
          uib-alert
          ng-class="'alert-danger'"
          ng-show="ordenes.opciones.error"
          close="ordenes.cerrarAlerta()"
        >
          <strong>{{ ordenes.opciones.error }}</strong>
        </div>
        <!--Correcto-->
        <div
          uib-alert
          ng-class="'alert-success'"
          ng-show="ordenes.opciones.listo"
          close="ordenes.cerrarAlerta()"
        >
          <strong>{{ ordenes.opciones.listo }}</strong>
        </div>
      </form>
      <div class="table-responsive" ng-class="{ 'activeBtn' : ordenes.opciones.nuevo == true }">
        <table class="table table-bordered table-hover">
          <thead>
            <th>ID</th>
            <th>Cliente</th>
            <th>Empleado</th>
            <th>Fecha de Pedido</th>
            <th>Empresa</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>País</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody>
            <tr
              ng-repeat="datos in ordenes.ordenDato.misOrdenes"
              ng-show="!(ordenes.ordenDato.id)"
            >
              <td>{{ datos.orderId }}</td>
              <td>{{ datos.customerId }}</td>
              <td>{{ datos.employeeId }}</td>
              <td>{{ datos.orderDate }}</td>
              <td>{{ datos.shipName }}</td>
              <td>{{ datos.shipAddress }}</td>
              <td>{{ datos.shipCity }}</td>
              <td>{{ datos.shipCountry }}</td>
              <td>
                <button
                  class="btn btn-info"
                  ng-click="ordenes.detalle(datos.orderId)"
                >
                  Ver
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </td>
              <td>
                <button
                  class="btn btn-danger"
                  ng-click="ordenes.eliminarOrden(datos.orderId)"
                >
                  Eliminar
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
            <tr ng-show="(ordenes.ordenDato.id)">
              <td>{{ ordenes.ordenDato.miOrden.orderId }}</td>
              <td>{{ ordenes.ordenDato.miOrden.customerId }}</td>
              <td>{{ ordenes.ordenDato.miOrden.employeeId }}</td>
              <td>{{ ordenes.ordenDato.miOrden.orderDate }}</td>
              <td>{{ ordenes.ordenDato.miOrden.shipName }}</td>
              <td>{{ ordenes.ordenDato.miOrden.shipAddress }}</td>
              <td>{{ ordenes.ordenDato.miOrden.shipCity }}</td>
              <td>{{ ordenes.ordenDato.miOrden.shipCountry }}</td>
              <td>
                <button
                  class="btn btn-info"
                  ng-click="ordenes.detalle(ordenes.ordenDato.miOrden.orderId)"
                >
                  Ver
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </td>
              <td>
                <button
                  class="btn btn-danger"
                  ng-click="ordenes.eliminarOrden()"
                >
                  Eliminar
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <!--Paginador-->
        <div class="text-center">
          <ul
            uib-pagination
            boundary-links="true"
            boundary-link-numbers="true"
            total-items="ordenes.paginador.totalItems"
            ng-model="ordenes.paginador.paginaActual"
            items-per-page="ordenes.paginador.itemsPagina"
            ng-change="ordenes.cambiarPagina()"
            max-size="ordenes.paginador.tamanoMax"
            class="pagination-sm"
            previous-text="&lsaquo;"
            next-text="&rsaquo;"
            first-text="&laquo;"
            last-text="&raquo;"
          ></ul>
        </div>

        <!--Modal-->
        <div class="col-sm-12">
          <script type="text/ng-template" id="orden.html">
            <div class="modal-header">
              <h3 class="modal-title" id="modal-title">Orden ID: {{ orden.ordenInfo.orderId }}</h3>
            </div>
            <div class="modal-body north-modal" id="modal-body">
              <!--Correcto-->
              <div
                uib-alert
                ng-class="'alert-success'"
                ng-show="orden.opciones.listo"
                close="orden.cerrarAlerta()"
              >
                <strong>{{ orden.opciones.listo }}</strong>
              </div>
              <!--Error-->
              <div
                uib-alert
                ng-class="'alert-danger'"
                ng-show="orden.opciones.error"
                close="orden.cerrarAlerta()"
              >
                <strong>{{ orden.opciones.error }}</strong>
              </div>
              <uib-tabset active="activeJustified" justified="true">
                <!--Detalles de la orden-->
                <uib-tab index="0" heading="Detalles" ng-click="orden.productoBandera = 0; orden.productoAgregar = false">
                  <div class="container-fluid container-list">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>ID:</label>
                          <input type="text" class="form-control" value="{{ orden.ordenInfo.orderId }}" ng-disabled="true">
                        </div>
                        <div class="form-group">
                          <label>Cliente:</label>
                          <input type="text" class="form-control" value="{{ orden.ordenInfo.customerId }}" ng-disabled="true">
                        </div>
                        <div class="form-group">
                          <label>Empleado:</label>
                          <select class="form-control" ng-model="orden.ordenInfo.employeeId">
                            <option ng-repeat="empleado in orden.empleadosInfo" ng-value="{{ empleado.employeeId }}">
                              {{ empleado.firstName }}
                            </option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Fecha de Creación:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.orderDate" value="{{ orden.ordenInfo.orderDate }}">
                        </div>
                        <div class="form-group">
                          <label>Fecha de Entrega:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.requiredDate" value="{{ orden.ordenInfo.requiredDate }}">
                        </div>
                        <div class="form-group">
                          <label>Fecha de Despacho:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.shippedDate" value="{{ orden.ordenInfo.shippedDate }}">
                        </div>
                        <div class="form-group">
                          <label>Vía de Entrega:</label>
                          <select class="form-control" ng-model="orden.ordenInfo.shipVia">
                            <option ng-repeat="via in orden.transportistaInfo" ng-value="{{ via.shipperId }}">
                              {{ via.companyName }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label>Flete:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.freight" value="{{ orden.ordenInfo.freight }}">
                        </div>
                        <div class="form-group">
                          <label>Transportista:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.shipName" value="{{ orden.ordenInfo.shipName }}">
                        </div>
                        <div class="form-group">
                          <label>Dirección:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.shipAddress" value="{{ orden.ordenInfo.shipAddress }}">
                        </div>
                        <div class="form-group">
                          <label>Ciudad:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.shipCity" value="{{ orden.ordenInfo.shipCity }}">
                        </div>
                        <div class="form-group">
                          <label>Región:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.shipRegion" value="{{ orden.ordenInfo.shipRegion }}">
                        </div>
                        <div class="form-group">
                          <label>Código Postal:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.shipPostalCode" value="{{ orden.ordenInfo.shipPostalCode }}">
                        </div>
                        <div class="form-group">
                          <label>País:</label>
                          <input type="text" class="form-control" ng-model="orden.ordenInfo.shipCountry" value="{{ orden.ordenInfo.shipCountry }}">
                        </div>
                      </div>
                      <div class="col-sm-12 text-right">
                        <button class="btn btn-primary" ng-click="orden.guardarInfo()">Guardar</button>
                      </div>
                    </div>
                  </div>
                </uib-tab>
                <uib-tab index="1" heading="Productos" ng-click="orden.obtenerProducto(orden.ordenInfo.orderDetails)">
                  <div class="container-fluid container-list">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="text-right" style="margin-bottom: 20px;">
                          <button class="btn btn-primary btn-nor" ng-class="{ 'active' : orden.productoAgregar == true }" ng-click="orden.cambioEstado()">Agregar</button>
                        </div>
                        <div class="table-responsive">
                          <table class="table table-bordered table-hover">
                            <thead>
                              <th>ID</th>
                              <th>Precio Unitario</th>
                              <th>Cantidad</th>
                              <th>Descuento</th>
                              <th>Total</th>
                              <th>Acciones</th>
                            </thead>
                            <tbody>
                              <tr ng-repeat="items in orden.productos.lista">
                                <td>
                                  {{ items.productId }}
                                </td>
                                <td>
                                  {{ items.unitPrice | currency }}
                                </td>
                                <td>
                                  {{ items.quantity }}
                                </td>
                                <td>
                                  {{ items.discount }}
                                </td>
                                <td>
                                  {{ (items.unitPrice * items.quantity) - ((items.unitPrice * items.quantity) * items.discount) | currency }}
                                </td>
                                <td>
                                  <button
                                    class="btn btn-info btn-nor"
                                    ng-click="orden.detalleProducto(items)"
                                    ng-class="{ 'active' : orden.productoBandera == items.productId }"
                                  >
                                    Ver
                                    <span class="glyphicon glyphicon-search"></span>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--Productos-->
                        <div ng-show="orden.productoBandera != 0">
                          <uib-tabset active="activeJustified" justified="true" class="nor-det-list">
                            <uib-tab index="1" heading="Detalles">
                              <div class="container-fluid container-list">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>ID:</label>
                                      <input type="text" class="form-control" value="{{ orden.producto.productId }}" ng-disabled="true">
                                    </div>
                                    <div class="form-group">
                                      <label>Nombre:</label>
                                      <input type="text" class="form-control" value="{{ orden.productos.nombre }}" ng-disabled="true">
                                    </div>
                                    <div class="form-group">
                                      <label>Precio Unitario:</label>
                                      <input type="number" class="form-control" ng-model="orden.producto.unitPrice" ng-value="{{ orden.producto.unitPrice }}">
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>Cantidad:</label>
                                      <input type="number" class="form-control" ng-model="orden.producto.quantity" ng-value="{{ orden.producto.quantity }}">
                                    </div>
                                    <div class="form-group">
                                      <label>Descuento:</label>
                                      <input type="number" class="form-control" ng-model="orden.producto.discount" ng-value="{{ orden.producto.discount }}" min="0">
                                    </div>
                                  </div>
                                  <div class="col-sm-12 text-right">
                                    <button class="btn btn-primary" ng-click="orden.guardarModificado()" ng-disabled="orden.producto.unitPrice <= 0 || orden.producto.quantity <= 0">Guardar</button>
                                    <button class="btn btn-danger" ng-click="orden.eliminarProducto()">Eliminar</button>
                                    <button class="btn btn-warning" ng-click="orden.productoBandera = 0">Cancelar</button>
                                  </div>
                                </div>
                              </div>
                            </uib-tab>
                          </uib-tabset>
                        </div>

                        <!--Producto-->
                        <div ng-show="orden.productoAgregar != false">
                          <uib-tabset active="activeJustified" justified="true" class="nor-det-list">
                            <uib-tab index="1" heading="Agregar Producto">
                              <div class="container-fluid container-list">
                                <div class="row">
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>Orden:</label>
                                      <input type="text" class="form-control" value="{{ orden.ordenInfo.orderId }}" ng-disabled="true">
                                    </div>
                                    <div class="form-group">
                                      <label>Producto:</label>
                                      <select class="form-control" ng-model="orden.productoNuevo.productId">
                                        <option ng-repeat="items in orden.productosLista" ng-value="{{ items.productId }}">
                                          {{ items.productName }}
                                        </option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                      <label>Precio Unitario:</label>
                                      <input type="number" class="form-control" ng-model="orden.productoNuevo.unitPrice">
                                    </div>
                                  </div>
                                  <div class="col-sm-6">
                                    <div class="form-group">
                                      <label>Cantidad:</label>
                                      <input type="number" class="form-control" ng-model="orden.productoNuevo.quantity">
                                    </div>
                                    <div class="form-group">
                                      <label>Descuento:</label>
                                      <input type="number" class="form-control" ng-model="orden.productoNuevo.discount" min="0">
                                    </div>
                                  </div>
                                  <div class="col-sm-12">
                                    <div class="text-right">
                                      <button class="btn btn-primary" ng-click="orden.guardarNuevo()" ng-disabled="orden.productoNuevo.productId == 0 || orden.productoNuevo.unitPrice <= 0 || orden.productoNuevo.quantity <= 0">Guardar</button>
                                      <button class="btn btn-warning" ng-click="orden.productoAgregar = 0">Cancelar</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </uib-tab>
                          </uib-tabset>
                        </div>
                      </div>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
            <div class="modal-footer">
              <button class="btn btn-warning" type="button" ng-click="orden.cancelar()">Cancelar</button>
            </div>
          </script>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div ng-show="ordenes.opciones.nuevo" ng-include="'../views/orden-nueva.html'"></div>
    </div>
  </div>
</div>
