<div ng-controller="ordenCtrl as orden">
  <!--Header-->
  <div class="jumbotron">
    <div style="background-image: url('../img/northwind/orden-2.jpeg');"></div>
    <h1>Orden</h1>
  </div>
  <!--Main-->
  <div class="row">
    <div class="col-sm-12 north-list">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <th>ID</th>
            <th>Cliente</th>
            <th>Empleado</th>
            <th>Fecha de Pedido</th>
            <th>Empresa</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>País</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody>
            <tr ng-repeat="datos in orden.opciones.misOrdenes">
              <td>{{ datos.orderId }}</td>
              <td>{{ datos.customerId }}</td>
              <td>{{ datos.employee.firstName }} {{ datos.employee.lastName }}</td>
              <td>{{ datos.orderDate }}</td>
              <td>{{ datos.shipName }}</td>
              <td>{{ datos.shipAddress }}</td>
              <td>{{ datos.shipCity }}</td>
              <td>{{ datos.shipCountry }}</td>
              <td>
                <button class="btn btn-info">
                  Ver
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </td>
              <td>
                <button class="btn btn-danger">
                  Eliminar
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
