<div ng-controller="productosCtrl as productos">
  <!--Header-->
  <div class="jumbotron">
    <div
      style="background-image: url('../img/northwind/productos-2.jpg')"
    ></div>
    <h1>Productos</h1>
  </div>
  <!--Main-->
  <div class="row">
    <div class="col-sm-12 north-list">
      <form>
        <div class="form-group">
          <h1>Producto ID</h1>
          <input
            type="text"
            class="form-control"
            ng-model="productos.productosDato.id"
            placeholder="Digita el ID del producto que deseas buscar..."
            ng-keyup="productos.buscarProducto(productos.productosDato.id)"
          />
        </div>
        <!--Error-->
        <div
          uib-alert
          ng-class="'alert-danger'"
          ng-show="productos.opciones.error"
          close="productos.cerrarAlerta()"
        >
          <strong>{{ productos.opciones.error }}</strong>
        </div>
      </form>
      <!--Lista de productos-->
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Detalles</th>
            <th>Precio Unitario</th>
            <th>Unidades en Stock</th>
            <th colspan="2">Acciones</th>
          </thead>
          <tbody>
            <tr
              ng-show="!(productos.productosDato.id)"
              ng-repeat="items in productos.productosDato.misProductos"
            >
              <td>{{ items.productId }}</td>
              <td>{{ items.productName }}</td>
              <td>{{ items.category.categoryName }}</td>
              <td>{{ items.quantityPerUnit }}</td>
              <td>{{ items.unitPrice | currency }}</td>
              <td>{{ items.unitsInStock }}</td>
              <td>
                <button
                  class="btn btn-info"
                  ng-click="productos.detalle(items)"
                >
                  Ver
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </td>
              <td>
                <button class="btn btn-danger">
                  Eliminar
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
            <tr ng-show="(productos.productosDato.id)">
              <td>{{ productos.productosDato.miProducto.productId }}</td>
              <td>{{ productos.productosDato.miProducto.productName }}</td>
              <td>{{ productos.productosDato.miProducto.category.categoryName }}</td>
              <td>{{ productos.productosDato.miProducto.quantityPerUnit }}</td>
              <td>{{ productos.productosDato.miProducto.unitPrice | currency }}</td>
              <td>{{ productos.productosDato.miProducto.unitsInStock }}</td>
              <td>
                <button
                  class="btn btn-info"
                  ng-click="productos.detalle(productos.productosDato.miProducto)"
                >
                  Ver
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </td>
              <td>
                <button class="btn btn-danger">
                  Eliminar
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--Modal-->
    <div class="col-sm-12">
      <script type="text/ng-template" id="productos.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Producto ID: {{ producto.producto.id }}</h3>
        </div>
        <div class="modal-body north-modal" id="modal-body">
            <uib-tabset active="activeJustified" justified="true">
                <!--Detalles del producto-->
                <uib-tab index="0" heading="Detalles">
                    <div class="container-fluid container-list">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" value="{{ producto.producto.nombre }}">
                                </div>
                                <div class="form-group">
                                    <label>Proveedor</label>
                                    <select class="form-control" ng-model="producto.producto.proveedor">
                                      <option ng-repeat="proveedor in producto.opciones.proveedoresArray" ng-value="{{ proveedor.supplierId }}">
                                        {{ proveedor.companyName }}
                                      </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Categoría</label>
                                    <select class="form-control" ng-model="producto.producto.categoria">
                                      <option ng-repeat="categoria in producto.opciones.categoriasArray" ng-value="{{ categoria.categoryId }}">
                                        {{ categoria.categoryName }}
                                      </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Detalle</label>
                                    <input type="text" class="form-control" value="{{ producto.producto.cantidadUnidad }}">
                                </div>
                                <div class="form-group">
                                    <label>Precio Unitario</label>
                                    <input type="text" class="form-control" value="{{ producto.producto.precioUnidad }}">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Unidades en Stock</label>
                                    <input type="text" class="form-control" value="{{ producto.producto.unidadStock }}">
                                </div>
                                <div class="form-group">
                                    <label>Unidades Pedidas</label>
                                    <input type="text" class="form-control" value="{{ producto.producto.unidadOrden }}">
                                </div>
                                <div class="form-group">
                                    <label>Nivel de Reabastecimiento</label>
                                    <input type="text" class="form-control" value="{{ producto.producto.unidadReorden }}">
                                </div>
                                <div class="form-group">
                                    <label>Descontinuado</label>
                                    <select class="form-control" ng-model="producto.producto.descontinuado">
                                      <option ng-repeat="descontinuado in producto.opciones.descontinuadoArray" ng-value="{{ descontinuado.estado }}">
                                        {{ descontinuado.info }}
                                      </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-primary btn-block" type="button">Guardar</button>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <!--Datos del proveedor-->
                <uib-tab index="1" heading="Proveedor">
                    <div class="container-fluid container-list">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <th>ID</th>
                                            <th>Empresa</th>
                                            <th>Ciudad</th>
                                            <th>País</th>
                                            <th>Teléfono</th>
                                            <th>Acciones</th>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="proveedor in producto.proveedor">
                                                <td>{{ proveedor.supplierId }}</td>
                                                <td>{{ proveedor.companyName }}</td>
                                                <td>{{ proveedor.city }}</td>
                                                <td>{{ proveedor.country }}</td>
                                                <td>{{ proveedor.phone }}</td>
                                                <td>
                                                    <button class="btn btn-info btn-nor" ng-class="{ 'active' :  proveedor.supplierId == producto.opciones.id }" ng-click="producto.buscarProveedor(proveedor.supplierId)">
                                                      Ver
                                                      <span class="glyphicon glyphicon-search"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--Proveedor-->
                                <div ng-show="producto.opciones.id != 0">
                                    <uib-tabset active="activeJustified" justified="true" class="nor-det-list">
                                        <!--Detalles-->
                                        <uib-tab index="1" heading="Detalles">
                                            <div class="container-fluid container-list">
                                                <div class="row" ng-repeat="item in producto.proveedor">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>ID</label>
                                                            <input type="text" class="form-control" value="{{ item.supplierId }}" ng-disabled="true">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Empresa</label>
                                                            <input type="text" class="form-control" value="{{ item.companyName }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Nombre</label>
                                                            <input type="text" class="form-control" value="{{ item.contactName }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Cargo</label>
                                                            <input type="text" class="form-control" value="{{ item.contactTitle }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Dirección</label>
                                                            <input type="text" class="form-control" value="{{ item.address }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Ciudad</label>
                                                            <input type="text" class="form-control" value="{{ item.city.region }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label>Región</label>
                                                            <input type="text" class="form-control" value="{{ item.region }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Código Postal</label>
                                                            <input type="text" class="form-control" value="{{ item.postalCode }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>País</label>
                                                            <input type="text" class="form-control" value="{{ item.country }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Teléfono</label>
                                                            <input type="text" class="form-control" value="{{ item.phone }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>FAX</label>
                                                            <input type="text" class="form-control" value="{{ item.fax }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Sitio Web</label>
                                                            <input type="text" class="form-control" value="{{ item.homePage }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-primary btn-block" type="button">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <!--Productos relacionados-->
                                        <uib-tab index="2" heading="Productos Relacionados">
                                            <div class="container-fluid container-list">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="table-responsive">
                                                            <table class="table table-bordered table-hover">
                                                                <thead>
                                                                    <th>ID</th>
                                                                    <th>Nombre</th>
                                                                    <th>Proveedor</th>
                                                                    <th>Categoría</th>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="producto in producto.opciones.productosArray">
                                                                        <td>{{ producto.productId }}</td>
                                                                        <td>{{ producto.productName }}</td>
                                                                        <td>{{ producto.supplier.companyName }}</td>
                                                                        <td>{{ producto.category.categoryName }}</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="producto.cancelar()">Cancelar</button>
        </div>
      </script>
    </div>
  </div>
</div>
