<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Empresa</th>
                <th>Título</th>
                <th>Teléfono</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="proveedor in proveedoresN.proveedores">
                <td>{{ proveedor.contactName }}</td>
                <td>{{ proveedor.companyName }}</td>
                <td>{{ proveedor.contactTitle }}</td>
                <td>{{ proveedor.phone }}</td>
                <td class="text-center actions">
                    <a href="#!/Northwind/Proveedores/{{ proveedor.supplierId }}"><i class="fa fa-search" uib-tooltip="Ver"></i></a>
                    <i class="fa fa-times" uib-tooltip="Eliminar"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>