<div class="productos-container">
    <div ng-include="'/views/main.html'"></div>
    <div class="search">
        <input type="text" class="form-control" placeholder="Nombre" />
        <i class="fa fa-cutlery"></i>
    </div>
    <div class="text-right header">
        <a href="#!/Northwind/Productos/Nuevo">
            <button class="btn btn-primary">Agregar</button>
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Precio Unitario</th>
                    <th>Stock</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="producto in productosN.productos">
                    <td>{{ producto.productId }}</td>
                    <td>{{ producto.productName }}</td>
                    <td>{{ producto.category.categoryName }}</td>
                    <td>{{ producto.unitPrice | currency }}</td>
                    <td>{{ producto.unitsInStock }}</td>
                    <td class="text-center actions">
                        <a href="#!/Northwind/Productos/{{producto.productId}}"><i class="fa fa-search" uib-tooltip="Ver"></i></a>
                        <i class="fa fa-times" ng-click="productosN.eliminar(producto.productId)" uib-tooltip="Eliminar"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul uib-pagination class="pagination-sm" ng-model="productosN.paginador.paginaActual" ng-change="productosN.cambiarPagina()" boundary-links="true" boundary-link-numbers="true" total-items="productosN.paginador.totalItems" items-per-page="productosN.paginador.itemsPagina" max-size="productosN.paginador.tamanoMax" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
</div>