<div ng-include="'/views/main.html'"></div>
<div class="search">
    <input type="text" class="form-control" ng-model="productosN.producto" buscar-elemento="productosN.buscarProducto()" placeholder="ID" />
    <i class="fa fa-cutlery"></i>
    <span>Presione enter para iniciar la busqueda</span>
</div>
<div class="text-right header">
    <a href="#!/Northwind/Productos/Nuevo">
        <button class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Agregar
        </button>
    </a>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Proveedor</th>
                <th>Precio Unitario</th>
                <th>Stock</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in productosN.productos">
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.productId }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.productName }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.category.categoryName }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.supplier.companyName }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.unitPrice | currency }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.unitsInStock }}</td>
                <td class="text-center actions">
                    <a href="#!/Northwind/Productos/{{ producto.productId }}"><i class="fa fa-search" uib-tooltip="Ver"></i></a>
                    <i class="fa fa-times" ng-click="productosN.eliminar(producto)" uib-tooltip="Eliminar"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <ul uib-pagination class="pagination-sm" ng-model="productosN.paginador.paginaActual" ng-change="productosN.cambiarPagina()" boundary-links="true" boundary-link-numbers="true" total-items="productosN.paginador.totalItems" items-per-page="productosN.paginador.itemsPagina" max-size="productosN.paginador.tamanoMax" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>