<div class="well list-info">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label>Categorias</label>
                <select class="form-control" style="margin-bottom: 0;" ng-model="productosN.filtro.category" ng-options="categoria.categoryId as categoria.categoryName for categoria in productosN.categorias"></select>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label>Proveedor</label>
                <select class="form-control" style="margin-bottom: 0;" ng-model="productosN.filtro.supplier" ng-options="proveedor.supplierId as proveedor.companyName for proveedor in productosN.proveedores"></select>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <button class="btn btn-primary" style="margin-top: 15px;" ng-click="productosN.actualizarFiltro(productosN.paginador.paginaActual = 0, true)">
                <i class="fa fa-filter"></i>
                Filtrar
            </button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Proveedor</th>
                <th>Precio Unitario</th>
                <th>Stock</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in productosN.productos">
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.productId }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.productName }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.category.categoryName }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.supplier.companyName }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.unitPrice | currency }}</td>
                <td ng-class="{ 'discontinued' : producto.unitsInStock <= 0 }">{{ producto.unitsInStock }}</td>
                <td class="text-center actions">
                    <a href="#!/Northwind/Productos/{{ producto.productId }}"><i class="fa fa-search" uib-tooltip="Ver"></i></a>
                    <i class="fa fa-times" ng-click="productosN.eliminar(producto)" uib-tooltip="Eliminar"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-if="!productosN.productos.length">
        <div class="alert alert-warning">
            <i class="fa fa-question-circle"></i>
            <span>No se han encontrado datos registrados.</span>
        </div>          
    </div>
</div>
<div class="text-center">
    <ul uib-pagination class="pagination-sm" ng-model="productosN.paginador.paginaActual" ng-change="productosN.cambiarPagina()" boundary-links="true" boundary-link-numbers="true" total-items="productosN.paginador.totalItems" items-per-page="productosN.paginador.itemsPagina" max-size="productosN.paginador.tamanoMax" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>