<!-- <div class="header-menu">
    <div class="btn-notify" ng-click="toggleHeader = !toggleHeader">
        <i class="fa-regular fa-newspaper"></i>
    </div>
    <ul>
        <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
        </li>
    </ul>
</div> -->
<ul class="header-list-menu">
    <li class="header-list-item">
        <a href="#" class="header-list-item-link shift-effect">
            <i class="fa-brands fa-instagram"></i>
        </a>
    </li>
    <li class="header-list-item">
        <a href="#" class="header-list-item-link shift-effect">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
    </li>
</ul>
<div class="header-list-news shift-effect">
    <i class="fa-regular fa-newspaper"></i>
</div>