<div class="header">
    <button class="btn btn-default" ng-click="actualizarContenido(backRute)">
        <i class="fa fa-chevron-left"></i>
        <span>Regresar</span>
    </button>
</div>
<div ng-show="loading" class="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
</div>
<div ng-show="!loading" ng-include="mainRute"></div>
<div class="row" ng-if="esEdicion">
    <div class="col-sm-12 text-center header">
        <button class="btn btn-primary" ng-click="guardar()">
            <i class="fa fa-save"></i>
            Guardar
        </button>
    </div>
</div>