/*---------------------------------------*/
/*-------------- Variables --------------*/
/*---------------------------------------*/
:root {
    --azul: #1f6ce0;
    --azul-claro: #5896f3;
    --blanco: #fff;
    --gris: #9d9d9d;
    --gris-claro: #ddd;
    --gris-oscuro: #3b3b3b;
    --verde: #04aa6d;
    --verde-claro: #3fbd8f;
    --rojo: #a00000;
    --rojo-claro: #ca0000;

    --pptsl-window: #030321;
    --pptsl-progress: #840037;
    --pptsl-font: #bd0034;
    --pptsl-btn: #fdb731;
    --pptsl-btn-border: #4d163d;
}
/*------------------------------------*/
/*-------------- Global --------------*/
/*------------------------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
body {
    background-color: var(--gris-claro);
    position: relative;
}
.main-container {
    min-height: calc(100vh - 165px);
}
.loading {
    width: 100%;
    background-color: var(--blanco);
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gris);
}
.page-header {
    border-color: var(--gris);
    margin-top: 20px;
    position: relative;
}
.page-header > .icons {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    margin-top: 10px;
}
.page-header > .icons i:hover {
    color: var(--verde);
}
.panel-default .panel-heading {
    background-color: var(--azul);
    color: var(--blanco);
}
.btn-default {
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
    border: none;
    transition: all 0.2s ease-in-out;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: var(--gris) !important;
    border: none;
    outline: none !important;
}
.btn-primary {
    background-color: var(--verde);
    color: var(--blanco);
    font-weight: bold;
    border: none;
    transition: all 0.2s ease-in-out;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--verde-claro) !important;
    border: none;
    outline: none !important;
}
.btn-sm {
    font-size: 15px;
    border-radius: 0;
}
.btn-info.active {
    background-color: var(--verde);
}
.btn-info.active:hover {
    background-color: var(--verde-claro) !important;
}
.btn-danger {
    background-color: var(--rojo-claro);
    border: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: var(--rojo);
    border: none;
    outline: none !important;
}
input[type="text"],
input[type="password"],
select {
    border: none !important;
    border-bottom: solid 1px var(--gris) !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    margin-bottom: 30px;
    background-color: transparent !important;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: var(--gris);
    box-shadow: none;
}
.form-group {
    position: relative;
}
.form-group > input {
    padding-right: 35px;
}
.form-group > i {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 9px 12px;
    color: var(--gris);
}
.pagination > .active a,
.pagination > .active a:hover,
.pagination > .active a:focus {
    background-color: var(--verde);
    border-color: var(--verde-claro);
}
.header {
    margin: 20px 0;
}
.header.cut {
    margin-top: 20px;
    margin-bottom: 0;
}
.header i,
.alert > i {
    margin-right: 5px;
}
/*------------------------------------*/
/*-------------- Header --------------*/
/*------------------------------------*/
header {
    background-color: var(--gris-oscuro);
    height: 40px;
    transition: all 0.2s ease;
    overflow: hidden;
}
header.active {
    height: 0;
}
header > div ul {
    list-style: none;
}
header > div ul {
    float: left;
    padding: 10px 0;
    margin-bottom: 0;
}
header > div ul li {
    float: left;
    display: block;
    position: relative;
}
header > div ul li a {
    line-height: 20px;
    padding: 10px;
    font-size: 20px;
    color: var(--blanco);
    transition: all 0.2s ease;
}
header > div ul li a:hover,
header > div ul li a:focus {
    background-color: var(--verde);
    color: var(--gris-oscuro);
}
.error-message {
    position: absolute;
    top: 65px;
    font-size: x-small;
    color: var(--rojo-claro);
    border-width: 1px;
    border-style: solid;
    border-color: var(--rojo);
    padding: 4px 10px;
    width: 100%;
    text-align: center;
}
/*------------------------------------*/
/*-------------- Navbar --------------*/
/*------------------------------------*/
.navbar {
    position: sticky;
    margin-bottom: 0;
    border-radius: initial;
    border: none;
    background-color: var(--azul);
    min-height: 90px;
    -webkit-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 1);
}
.navbar > .navbar-header {
    min-height: 90px;
}
.navbar > .navbar-header button {
    margin-top: 27px;
    position: relative;
    height: 30px;
    width: 30px;
    padding: 0;
    border: none;
}
.navbar > .navbar-header button:hover,
.navbar > .navbar-header button:focus,
.navbar-header button:active {
    background-color: transparent;
}
.navbar > .navbar-header button span {
    position: absolute;
    width: 100%;
    margin: 0 !important;
    transition: all 0.3s ease;
    transform: rotate(0deg);
}
.navbar > .navbar-header button span:nth-child(1) {
    bottom: 4px;
}
.navbar > .navbar-header button span:nth-child(3) {
    top: 5px;
}
.navbar > .navbar-header button:hover span {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 1);
}
.navbar > .navbar-header button:hover span:nth-child(1) {
    bottom: 1px;
}
.navbar > .navbar-header button:hover span:nth-child(3) {
    top: 2px;
}
.navbar > .navbar-header button span:nth-child(1).active {
    bottom: 13px;
    transform: rotate(-45deg);
}
.navbar > .navbar-header button span:nth-child(3).active,
.navbar > .navbar-header button span:nth-child(2).active {
    top: 15px;
    transform: rotate(45deg);
}
.navbar > .navbar-header a img {
    width: 100px;
}
.navbar > .navbar-header a img:hover {
    opacity: 0.8;
}
.navbar > .navbar-collapse {
    height: 0;
    display: block;
    overflow: hidden;
    border-top: none;
    transition: all 0.3s linear;
    padding: 0 30px;
}
.navbar > .navbar-collapse.in {
    height: 100vh !important;
    max-height: 100vh;
    border-top: solid 1px #101010;
}
.navbar > .navbar-collapse ul,
.navbar > .navbar-collapse .navbar-btn-drop {
    padding-top: 18px;
}
.navbar > .navbar-collapse .navbar-btn-drop {
    margin-right: 10px;
}
.navbar > .navbar-collapse .navbar-btn-drop button,
.navbar > .navbar-collapse ul.nav li a {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 52px;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid var(--blanco);
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: var(--blanco);
    outline: none;
}
.navbar > .navbar-collapse .navbar-btn-drop button:hover,
.navbar > .navbar-collapse ul.nav li a:hover {
    background-color: var(--verde-claro);
    border-color: var(--blanco);
    color: var(--blanco);
}
.navbar > .navbar-collapse .navbar-btn-drop button.active,
.navbar > .navbar-collapse ul.nav li a.active {
    background-color: var(--verde);
    border: 1px solid var(--blanco);
    color: var(--blanco);
}
.navbar > .navbar-collapse .navbar-btn-drop button i {
    transition: all 0.2s ease;
}
.navbar > .navbar-collapse .navbar-btn-drop button i:nth-child(2) {
    margin-left: 5px;
}
.navbar > .navbar-collapse .navbar-btn-drop.open button i:nth-child(2) {
    transform: rotate(90deg);
}
.navbar > .navbar-collapse .navbar-btn-drop ul {
    padding: 0;
    border-radius: 0;
    margin: 0;
    border: none;
    display: block;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.2s linear;
}
.navbar > .navbar-collapse .navbar-btn-drop.open ul {
    border: 1px solid var(--gris-claro);
    height: calc(34px * 2);
}
.navbar > .navbar-collapse .navbar-btn-drop.open ul.northwind {
    height: calc(34px * 4);
}
.navbar > .navbar-collapse .navbar-btn-drop ul li a {
    padding: 6px 20px;
}
.navbar > .navbar-collapse .navbar-btn-drop ul li a:hover {
    background-color: var(--verde-claro);
}
.navbar > .navbar-collapse .navbar-btn-drop ul li a.active {
    background-color: var(--verde);
    color: var(--blanco);
    font-weight: bold;
}
/*--------------------------------------*/
/*-------------- Carrusel --------------*/
/*--------------------------------------*/
.carousel-container,
.carousel-container.active {
    height: 50vh;
    transition: all 0.1s ease-in;
}
.carousel-container > div img,
.carousel-container.active > div img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.7);
    transition: all 0.1s ease-in;
}
.carousel-container.inactive,
.carousel-container.inactive > div img {
    height: 0;
    overflow: hidden;
    transition: all 0.1s ease-out;
}
.carousel-indicators > li {
    width: 25px;
    height: 3px;
    border-radius: 0;
    background-color: var(--gris);
    border-color: var(--gris);
    transition: all 0.3s ease-in;
}
.carousel-indicators .active {
    width: 25px;
    height: 3px;
    margin: 1px;
    border-color: var(--blanco);
}
.carousel-control > span {
    font-size: 25px;
}
/*-------------------------------------*/
/*-------------- MAIN --------------*/
/*-------------------------------------*/
article {
    background-color: var(--blanco);
    position: relative;
}
/*------------- Articulos -------------*/
.articles-container {
    display: grid;
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    column-gap: 20px;
}
.thumbnail {
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    filter: contrast(75%);
}
.thumbnail:hover {
    filter: contrast(100%);
}
.thumbnail > .thumbnail-img {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.thumbnail > .caption {
    padding: 20px;
}
.thumbnail > .caption h3 {
    margin: 0;
    font-size: 19px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.thumbnail > .caption p {
    line-height: 1.5;
    margin-bottom: 1.25rem;
    color: var(--gris-oscuro);
}
.thumbnail > .caption a {
    text-decoration-line: none;
    float: right;
}
.thumbnail > .caption a button {
    padding: 6px 30px;
}
/*--------------- Login ---------------*/
.panel-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 155px 0;
}
.panel-login > .panel {
    width: 50%;
}
.panel-login > .panel .panel-body {
    padding: 30px 50px;
}
.panel-login > .panel .panel-body button {
    width: 100%;
    border-radius: 50px;
    padding: 10px 0;
}
/*---------------- Juegos ----------------*/
.jumbotron {
    background-color: var(--azul-claro);
    color: var(--blanco);
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    position: relative;
    overflow: hidden;
}
.jumbotron > div {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: brightness(0.4);
}
.jumbotron > h1 {
    position: relative;
    font-size: 50px;
}
.content-game > div p.lead {
    font-weight: bold;
}
.content-game > div img {
    width: 100%;
    margin-bottom: 20px;
}
.content-game > div span blockquote p {
    font-size: 17.5px;
}
.content-game > div span blockquote footer {
    background-color: transparent;
}
/*---------------- PPTSL ----------------*/
.pptsl-container > .panel.rules,
.pptsl-container > .panel.rules .panel-heading {
    border-radius: 0;
    border: none;
}
.pptsl-container > .panel.rules .panel-heading span {
    font-weight: bold;
}
.pptsl-container > .panel.rules .panel-body,
.pptsl-container > .panel.rules .panel-body ul {
    margin: 0;
    padding: 0;
}
.pptsl-container > .panel.rules .panel-body ul li {
    border-radius: 0;
}
.pptsl-container > div button,
.suma-container > div button {
    margin-bottom: 20px;
}
.pptsl-game-container > .game-window {
    position: relative;
    width: 100%;
    height: 700px;
    margin-bottom: 30px;
    background: var(--pptsl-window);
    overflow: hidden;
    z-index: 0;
    border-width: 30px;
    border-style: outset;
    border-color: var(--pptsl-btn);
}
.pptsl-game-container > .game-window h1,
.pptsl-game-container > .game-window h2,
.pptsl-game-container > .game-window h3,
.pptsl-game-container > .game-window h4,
.pptsl-game-container > .game-window p,
.pptsl-game-container > .game-window strong,
.pptsl-game-container > .game-window span,
.pptsl-game-container > .game-window button {
    font-family: fantasy;
    text-transform: uppercase;
}
.pptsl-game-container > .game-window button {
    display: inline-block;
    font-size: 25px;
    text-transform: uppercase;
    background-color: var(--pptsl-btn);
    color: var(--pptsl-btn-border);
    margin: 0 10px;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    box-shadow: 0 5px 5px var(--pptsl-btn-border),
        0 9px 0 var(--pptsl-btn-border), 0px 9px 10px rgba(0, 0, 0, 0.4),
        inset 0px 2px 9px rgba(255, 255, 255, 0.2),
        inset 0 -2px 9px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--gris-claro);
    animation-duration: 2s;
    animation-fill-mode: both;
}
.pptsl-game-container > .game-window button:hover,
.pptsl-game-container > .game-window button:focus {
    box-shadow: 0 5px 5px var(--pptsl-btn-border),
        0 9px 0 var(--pptsl-btn-border), 0px 9px 10px rgba(0, 0, 0, 0.4),
        inset 0px 2px 15px var(--pptsl-btn-border),
        inset 0 -2px 9px rgba(0, 0, 0, 0.2);
    background-color: var(--pptsl-btn) !important;
    color: var(--pptsl-btn-border);
}
.pptsl-game-container > .game-window button:active,
.pptsl-game-container > .game-window button.active {
    top: 7px;
    box-shadow: 0 2px 0 var(--gris-oscuro), 0px 4px 4px rgba(0, 0, 0, 0.4),
        inset 0px 2px 5px var(--pptsl-btn-border);
    color: var(--pptsl-btn-border);
    animation-name: flash;
}
@keyframes flash { 
    0%, 30%, 60%, 90% {
        opacity: 1;
    } 15%, 45%, 75%, 100% {
        opacity: 0.5;
    }
}
.pptsl-game-container > .game-window .game-loading,
.pptsl-game-container > .game-window .game-home {
    position: relative;
    border-width: 10px;
    border-style: inset;
    border-color: var(--pptsl-btn-border);
    padding: 30px;
    filter: opacity(0);
    transition: all 0.5s ease-out;
    z-index: -1;
}
.pptsl-game-container > .game-window .game-loading.active,
.pptsl-game-container > .game-window .game-home.active {
    filter: opacity(1);
    transition: all 1.5s ease-in;
    z-index: 2;
}
.pptsl-game-container > .game-window .game-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pptsl-game-container > .game-window .game-loading h4 {
    color: var(--blanco);
    font-size: 25px;
    letter-spacing: 2px;
}
.pptsl-game-container > .game-window .game-loading .progress-bar-content {
    width: 100%;
    position: relative;
}
.pptsl-game-container > .game-window .game-loading .progress-bar-content .progress {
    border-radius: 0;
    height: auto;
    border-width: 2px;
    border-style: ridge;
    border-color: var(--pptsl-btn);
}
.pptsl-game-container > .game-window .game-loading.active .progress-bar-content .progress .progress-bar {
    transition: width 1.5s linear;
}
.pptsl-game-container > .game-window .game-loading .progress-bar-content .progress .progress-bar {
    background-color: var(--pptsl-progress);
    height: 20px;
    transition: none;
}
.pptsl-game-container > .game-window .game-loading .progress-bar-content .progress .progress-bar i {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.pptsl-game-container > .game-window .game-home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pptsl-game-container > .game-window .game-home .title h1 {
    color: var(--pptsl-font);
    font-size: 100px;
    text-shadow: 0 1px 0 var(--pptsl-progress), 0 4px 0 var(--pptsl-btn-border),
        0 6px 0 var(--pptsl-btn-border), 0 8px 0 var(--pptsl-btn-border),
        0 10px 0 var(--pptsl-btn-border), 0 12px 0 var(--pptsl-btn-border),
        3px 8px 15px rgba(0, 0, 0, 0.1), 3px 8px 5px rgba(0, 0, 0, 0.3);
}
.pptsl-game-container > .game-window .game-home .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pptsl-game-container > .game-window .game-home .content .game-menu,
.pptsl-game-container > .game-window .game-home .content .start {
    position: relative;
    width: 100%;
    margin-top: 60px;
}
.pptsl-game-container > .game-window .game-home .content .start button i {
    margin: 0 5px;
}
.pptsl-game-container > .game-window .game-home .content .start .btn-vs.active {
    animation: none;
}
.pptsl-game-container > .game-window .game-home .content .btn-back {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}
.pptsl-game-container > .game-window .game-home .content .btn-back button {
    padding: 0;
    width: 30px;
    height: 30px;
    transition: none;
    animation: none;
}
.pptsl-game-container > .game-window .game-home .content .btn-back button i {
    position: absolute;
    top: 3px;
    left: 10px;
}
.pptsl-game-container > .game-window .game-home .content .rules {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 30px;
    justify-content: center;
    align-items: center;
    display: none;
}
.pptsl-game-container > .game-window .game-home .content .rules.active {
    display: flex;
}
.pptsl-game-container > .game-window .game-home .content .rules::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--pptsl-window);
    filter: opacity(0.5);
}
.pptsl-game-container > .game-window .game-home .content .rules .panel {
    position: relative;
    width: 50%;
    z-index: 1;
}
.pptsl-game-container > .game-window .game-home .content .rules .panel,
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-heading {
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-heading {
    background-color: var(--pptsl-btn);
    box-shadow: 0 5px 5px var(--pptsl-btn-border),
        0 9px 0 var(--pptsl-btn-border), 0px 9px 10px rgba(0, 0, 0, 0.4),
        inset 0px 2px 9px rgba(255, 255, 255, 0.2),
        inset 0 -2px 9px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid var(--gris-claro);
}
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-heading h1 {
    font-size: 50px;
    color: var(--pptsl-btn-border);
    margin: 0;
}
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-heading .btn-back {
    margin-top: 10px;
    margin-right: 10px;
}
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-heading .btn-back button i {
    left: 5px;
}
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-body,
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-body ul {
    padding: 0;
    margin: 0;
}
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-body ul {
    box-shadow: 0 5px 5px var(--pptsl-btn-border),
        0 9px 0 var(--pptsl-btn-border), 0px 9px 10px rgba(0, 0, 0, 0.4),
        inset 0px 2px 9px rgba(255, 255, 255, 0.2),
        inset 0 -2px 9px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-body ul li {
    border-radius: 0;
    font-family: fantasy;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
}
.pptsl-game-container > .game-window .game-home .content .rules .panel .panel-body ul li:first-of-type {
    box-shadow: inset 0px 10px 14px -8px rgba(0, 0, 0, 0.75);
}
.pptsl-game-container > .game-window .game-home .content .credits p {
    color: var(--pptsl-btn) !important;
}
.pptsl-game-container > .game-window .game-home .content .credits h2,
.pptsl-game-container > .game-window .game-home .content .credits p,
.pptsl-game-container > .game-window .game-home .content .credits p strong,
.pptsl-game-container > .game-window .game-home .content .in-game h2 {
    font-size: 50px;
    color: var(--pptsl-font);
    text-shadow: 0 1px 0 var(--pptsl-progress), 0 2px 0 var(--pptsl-btn-border),
        0 3px 0 var(--pptsl-btn-border), 0 4px 0 var(--pptsl-btn-border);
}
.pptsl-game-container > .game-window .game-home .content .in-game {
    display: flex;
    flex-wrap: wrap;
    margin-top: -60px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-title {
    width: 100%;
    font-size: 70px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-name .name {
    height: 50px;
    margin-bottom: 30px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-name .name h3 {
    color: var(--blanco);
    font-size: 50px;
    text-shadow: 0 1px 0 var(--gris), 0 2px 0 var(--gris-oscuro),
        0 3px 0 var(--gris-oscuro), 0 4px 0 var(--gris-oscuro);
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-name .name.game h3 {
    position: absolute;
    top: 0;
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-name:nth-child(2) .name.game h3 {
    left: 0;
    margin-left: 25px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-name:nth-child(3) .name.game h3 {
    right: 0;
    margin-right: 25px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .strategies {
    position: absolute;
    bottom: 20px;
    left: 0;
}
.pptsl-game-container > .game-window .game-home .content .in-game .characters,
.pptsl-game-container > .game-window .game-home .content .in-game .strategies {
    width: 100%;
}
.pptsl-game-container > .game-window .game-home .content .in-game .characters.ng-hide,
.pptsl-game-container > .game-window .game-home .content .in-game .strategies.ng-hide {
    overflow: hidden;
    height: 0;
}
.pptsl-game-container > .game-window .game-home .content .in-game .characters ul,
.pptsl-game-container > .game-window .game-home .content .in-game .strategies ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .characters ul li,
.pptsl-game-container > .game-window .game-home .content .in-game .strategies ul li {
    margin-right: 5px;
    margin-left: 5px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .characters ul li {
    width: 75px;
    height: 48px;
    margin-bottom: 15px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .characters ul li button {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 48px;
    cursor: pointer;
}
.pptsl-game-container > .game-window .game-home .content .in-game .strategies ul li {
    width: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.pptsl-game-container > .game-window .game-home .content .in-game .strategies ul li button {
    border-radius: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .strategies ul li button:disabled {
    cursor: pointer;
}
.pptsl-game-container > .game-window .game-home .content .in-game .strategies ul li button i {
    font-size: 35px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .strategies ul li span {
    color: var(--pptsl-font);
    font-size: 20px;
    text-shadow: 0 1px 0 var(--pptsl-btn-border),
        0 2px 0 var(--pptsl-btn-border);
}
.pptsl-game-container > .game-window .game-home .content .in-game .options {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 15px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .options button {
    animation: none;
    transition: none;
}
.pptsl-game-container > .game-window .game-home .content .in-game .fin {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pptsl-game-container > .game-window .game-home .content .in-game .fin::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--gris-oscuro);
    opacity: 0.5;
    z-index: 2;
}
.pptsl-game-container > .game-window .game-home .content .in-game .fin .fin-content {
    width: auto;
    height: calc(100% - 140px);
    margin: 50px;
    background-color: var(--pptsl-window);
    border-width: 20px;
    border-style: outset;
    border-color: var(--pptsl-btn);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 300;
}
.pptsl-game-container > .game-window .game-home .content .in-game .fin .fin-content button {
    margin: 20px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby {
    width: calc(100% - 50px);
    height: 320px;
    position: absolute;
    left: 0;
    margin-left: 25px;
    margin-right: 25px;
    border-width: 20px;
    border-style: outset;
    border-color: var(--pptsl-btn);
    top: 0;
    margin-top: 100px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content {
    width: 100%;
    height: 100%;
    background-image: url("/content/pictures/Juegos/PPTLS/pptsl-start-back-3.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle {
    width: 50%;
    height: 100%;
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .progress-bar-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .progress-bar-content .progress {
    border-width: 10px;
    border-style: outset;
    border-color: var(--pptsl-btn);
    height: 40px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .progress-bar-content .progress .progress-bar {
    background-color: var(--pptsl-progress);
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle i.fa {
    font-size: 100px;
    margin-bottom: 15px;
    color: var(--pptsl-btn);
    z-index: 1;
    text-shadow: 0 0 4px var(--pptsl-window);
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle i.fa.selected {
    position: absolute;
    top: 120px;
    font-size: 50px;
    transform: scale(0);
    color: var(--gris-oscuro);
    text-shadow: -1px -1px 0 var(--gris-oscuro), 1px 1px 0 var(--gris-oscuro);
    animation-duration: 2s;
    animation-fill-mode: both;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle i.fa.selected.active {
    animation-name: icon-tag;
}
@keyframes icon-tag {
    0% {
        transform: scale(0.5);
        opacity: 1;
        top: 90px;
    }
    100% {
        transform: scale(1);
        opacity: 0;
        top: 50px;
    }
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .damage {
    position: absolute;
    z-index: 2;
    font-size: 50px;
    font-family: fantasy;
    top: 100px;
    margin-left: 60px;
    color: var(--gris-claro);
    text-shadow: 1px 1px 0 var(--pptsl-btn-border),
        -1px -1px 0 var(--pptsl-btn-border), 0 0 4px var(--pptsl-window);
    animation-name: icon-tag;
    animation-duration: 3s;
    animation-fill-mode: both;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .damage.critic {
    font-size: 60px;
    color: var(--pptsl-font);
    top: 90px;
    margin-left: 80px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle i.back {
    position: absolute;
    font-size: 90px;
    bottom: 35px;
    color: var(--pptsl-btn-border);
    z-index: 0;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content  .battle:nth-child(2) i.back {
    bottom: 36px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .shadow { 
    width: 70px;
    height: 10px;
    background-color: var(--pptsl-window);
    position: absolute;
    bottom: 40px;
    filter: blur(5px);
    border-radius: 100%;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle:nth-child(2) .shadow {
    bottom: 45px;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .count {
    position: absolute;
    width: 100%;
    left: 0;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content h1 {
    font-family: fantasy;
    font-size: 90px;
    color: var(--pptsl-btn);
    text-shadow: 0 1px 0 var(--pptsl-progress), 0 2px 0 var(--pptsl-btn-border),
        0 3px 0 var(--pptsl-btn-border), 0 4px 0 var(--pptsl-btn-border);
    animation-duration: 4s;
    animation-fill-mode: both;
}
.pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content  h1.active {
    animation-name: time;
}
@keyframes time { 
    0%, 25%, 28%, 50%, 75%, 100% {
        transform: scale(0);
    } 12.5%, 37.5%, 35%, 62.5%, 87.5% {
        transform: scale(2);
    }
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-icon {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    color: var(--pptsl-btn);
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-icon:last-of-type {
    justify-content: flex-end;
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-icon i {
    position: absolute;
    font-size: 30px;
    bottom: 0;
    margin-bottom: 25px;
    left: 0;
    margin-left: 25px;
    text-shadow: 0 1px 0 var(--pptsl-btn-border),
        0 2px 0 var(--pptsl-btn-border), 0 3px 0 var(--pptsl-btn-border),
        0 4px 0 var(--pptsl-btn-border);
}
.pptsl-game-container > .game-window .game-home .content .in-game .in-game-icon:last-of-type i {
    right: 0;
    margin-right: 25px;
    left: auto;
    margin-left: 0;
}
/*----------------- SUMA -----------------*/
.suma-probar-container > .panel,
.suma-probar-container > .panel .panel-body .panel-collapse {
    -webkit-box-shadow: 0px 5px 15px -5px rgba(138, 138, 138, 0.75);
    -moz-box-shadow: 0px 5px 15px -5px rgba(138, 138, 138, 0.75);
    box-shadow: 0px 5px 15px -5px rgba(138, 138, 138, 0.75);
}
.suma-probar-container > .panel .panel-heading {
    border: none;
}
.suma-probar-container > .panel .panel-heading form {
    position: relative;
}
.suma-probar-container > .panel .panel-heading form .btn-end {
    position: absolute;
    right: 0;
    top: -5px;
}
.suma-probar-container > .panel .panel-heading form .btn-end button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.suma-probar-container > .panel .panel-heading form .btn-end button span {
    font-size: 20px;
    top: 0;
    margin-right: 5px;
}
.suma-probar-container > .panel .panel-heading form input {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
}
.suma-probar-container > .panel .panel-body {
    padding: 0;
    position: relative;
}
.suma-probar-container > .panel .panel-body .list-group,
.suma-probar-container > .panel .panel-body .panel-collapse .well,
.suma-probar-container > .panel .panel-body .list-group .list-group-item input,
.suma-probar-container > .panel .panel-body .panel-collapse .well .list-group .list-group-item p {
    margin-bottom: 0;
}
.suma-probar-container > .panel .panel-body .panel-collapse .well {
    padding: 0;
    min-height: auto;
    border: none;
}
.suma-probar-container > .panel .panel-body .panel-collapse .well .list-group .list-group-item,
.suma-probar-container > .panel .panel-footer .lista-numeros .numeros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
}
.suma-probar-container > .panel .panel-body .panel-collapse .well .list-group .list-group-item p:last-child span,
.suma-probar-container > .panel .panel-footer .lista-numeros .numeros h3:last-child span {
    display: none;
}
.suma-probar-container > .panel .panel-footer .lista-numeros .numeros,
.suma-probar-container > .panel .panel-footer .resultado .numero {
    display: flex;
    justify-content: flex-end;
}
.suma-probar-container > .panel .panel-footer .lista-numeros .numeros h3,
.suma-probar-container > .panel .panel-footer .resultado .numero h2 {
    margin: 0;
}
.suma-probar-container > .panel .panel-footer .lista-numeros .numeros h3 span {
    font-size: 24px;
}
.suma-probar-container > .panel .panel-body .list-number .list-group {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 5px;
}
.suma-probar-container > .panel .panel-body .list-number .list-group li {
    width: calc((100% - 20px) / 5);
}
.suma-probar-container > .panel .well {
    background-color: var(--blanco);
    border-radius: 30px;
}
.suma-probar-container > .panel .panel-footer .resultado .numero h2 {
    font-size: 40px;
}
/*--------- Northwind ---------*/
.search {
    position: relative;
}
.search > i {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    color: var(--gris);
}
.search > span {
    font-size: 12px;
    font-style: italic;
    position: absolute;
    top: 40px;
    color: var(--gris);
}
.actions > a i,
.actions > i {
    cursor: pointer;
}
.actions > a:nth-child(1) i {
    color: var(--verde);
    margin-right: 5px;
}
.actions > a:nth-child(2) i {
    color: var(--pptsl-btn);
    margin-right: 5px;
}
.actions > i {
    color: var(--rojo);
}
.list-order > div .panel-title a {
    text-decoration: none;
}
.list-order > div .panel-title a i {
    float: right;
}
.list-order > div .list-group {
    margin: 0;
}
.list-order > div .list-group .list-group-item {
    padding-left: 0;
    padding-right: 0;
}
.list-order > div .list-group .list-group-item:hover,
.list-order > div .list-group .list-group-item.active {
    background-color: var(--verde-claro);
    cursor: pointer;
    border: 1px solid var(--verde-claro);
}
.list-order > div .list-group .list-group-item.active {
    font-weight: bold;
    color: var(--blanco);
    background-color: var(--verde);
}
td {
    position: relative;
}
td > .list-product {
    border-bottom: 0;
    margin: 0;
    background: transparent;
    width: auto;
    padding: 0;
    font-size: 15px;
    top: 0;
    position: absolute;
    width: calc(100% - 16px);
}
td > .list-product.active {
    border-bottom:  1px solid var(--gris-oscuro);
}
.thumbnail-product {
    border-radius: 0 !important;
    background-color: var(--gris-oscuro);
    padding-left: 60px;
    padding-right: 60px;
}
.discontinued {
    color: var(--gris);
}
.text {
    margin: 0;
    font-weight: normal;
}
.list-group-products > .list-group-item:hover {
    background-color: var(--verde-claro);
    cursor: pointer;
}
.list-group-products > .list-group-item.active {
    background-color: var(--verde);
    font-weight: bold;
    border-color: var(--verde-claro);
}
.list-group-products > .list-group-item {
    border-radius: 0;
}
.list-group-products > .list-group-item > .badge {
    background-color: var(--gris-oscuro);
}
.list-group-products > .list-group-item.active > .badge {
    color: var(--gris-oscuro);
    background-color: var(--blanco);
}
.list-group-products > .input-group-btn .btn {
    padding: 10px;
}
.list-info > .row .col-sm-4 {
    display: flex;
    align-items: center;
}
.list-info > .row .col-sm-4 div, 
.info-status-item {
    content: '';
    width: 15px;
    height: 15px;
    background-color: var(--gris-oscuro);
    margin-right: 15px;
}
.list-info > .row .col-sm-4:nth-child(1) div,
.info-status-item.warning {
    background-color: var(--pptsl-btn);
}
.list-info > .row .col-sm-4:nth-child(2) div,
.info-status-item.info {
    background-color: var(--azul-claro);
}
.list-info > .row .col-sm-4:nth-child(3) div,
.info-status-item.success {
    background-color: var(--verde-claro);
}
.info-status-item {
    margin-right: 0;
    border-radius: 100%;
}
/*----------------------------------------*/
/*-------------- Breadcrumb --------------*/
/*----------------------------------------*/
.breadcrumb {
    margin: 0;
    border-radius: 0;
}
.breadcrumb > li a.active {
    color: var(--verde);
}
/*------------------------------------*/
/*-------------- FOOTER --------------*/
/*------------------------------------*/
footer {
    background-color: var(--azul);
}
footer > .row h4 {
    color: var(--blanco);
}
footer > .row i {
    margin-right: 10px;
    color: var(--verde);
}
footer > .row ul li,
footer > .row ul li a {
    color: var(--gris-oscuro);
}
footer > .row ul.siguenos li {
    display: flex;
    justify-content: space-around;
}
footer > .row ul.siguenos a i {
    font-size: 25px;
    margin: 0;
    transition: all 0.2s ease-in-out;
    margin: 0 12px;
}
footer > .row ul a:hover i {
    text-decoration: none;
    color: var(--gris-oscuro);
}
footer > .row ul a:hover {
    text-decoration: none;
    color: var(--verde-claro);
}
section.copyright {
    background-color: var(--verde);
    padding: 6px 12px;
    text-align: center;
    margin-bottom: 37.42px;
}
section.copyright p {
    margin: 0;
}
.info-cliente img {
    width: 100%;
    filter: brightness(1.14);
    mix-blend-mode: multiply;
}
.thumbnail.orders {
    border: none;
    background-color: transparent;
    border-radius: 6px;
}
.thumbnail.orders:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 1px var(--gris-oscuro);
}
.thumbnail.orders img {
    filter: brightness(30%);
}
.thumbnail.orders label {
    position: absolute;
    color: var(--blanco);
    font-size: xx-large;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail.orders i {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 8px;
    z-index: 1000;
}
.info-producto {
    overflow: hidden;
}
.info-producto .col-sm-5,
.info-producto .col-sm-7 {
    z-index: 1;
}
.info-producto section {
    background-color: var(--blanco);
    border-radius: 6px;
    padding: 15px;
    margin: 15px;
}
.info-producto h1 {
    color: var(--blanco);
    font-size: 55px;
    margin: 15px;
}
.info-producto img {
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    top: 0;
    border-radius: 6px;
    object-fit: cover;
    filter: brightness(60%);
}
.info-producto label,
.info-producto span {
    display: inline-block;
    width: 100%;
    margin-bottom: 4px;
}
/*----------------------------------------*/
/*-------------- Responsive --------------*/
/*----------------------------------------*/
@media (max-width: 1200px) {
    /* Calcula el tamaño de los objetos a medida que cambia el ancho de la pantalla */
    /* Operacion : ([minimum size] + ([maximum size] - [minimum size]) * 
((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */

    .pptsl-game-container > .game-window {
        border-width: calc(10px + 20 * ((100vw - 280px) / 920));
    }
    .pptsl-game-container > .game-window .game-loading,
    .pptsl-game-container > .game-window .game-home {
        border-width: calc(5px + 5 * ((100vw - 280px) / 920));
    }
    .pptsl-game-container > .game-window .game-home .title h1 {
        font-size: calc(40px + 60 * ((100vw - 280px) / 920));
    }
    .pptsl-game-container > .game-window .game-home .content .rules .panel.panel-heading h1 {
        font-size: calc(40px + 10 * ((100vw - 280px) / 920));
    }
    .pptsl-game-container > .game-window .game-home .content .rules .panel .panel-body ul li {
        font-size: calc(14.5px + 5.5 * ((100vw - 280px) / 920));
    }
    .pptsl-game-container > .game-window .game-home .content .credits h2,
    .pptsl-game-container > .game-window .game-home .content .credits p,
    .pptsl-game-container > .game-window .game-home .content .credits p strong,
    .pptsl-game-container > .game-window .game-home .content .in-game .in-game-title {
        font-size: calc(25px + 25 * ((100vw - 280px) / 920));
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .in-game-name .name h3 {
        font-size: calc(18px + 32 * ((100vw - 280px) / 920));
    }
}
@media (max-width: 1023px) {
    .pptsl-game-container > .game-window .game-home .content .in-game .in-game-name .options button {
        width: auto;
    }
}
@media (max-width: 767px) {
    /*------------------------------------*/
    /*-------------- Global --------------*/
    /*------------------------------------*/
    body > .container {
        padding: 0;
    }
    .btn {
        width: 100%;
    }
    /*------------------------------------*/
    /*-------------- Navbar --------------*/
    /*------------------------------------*/
    .navbar-nav {
        padding-top: 0 !important;
    }
    .navbar > .navbar-collapse {
        padding: 0 20px;
    }
    .navbar > .navbar-collapse .navbar-btn-drop,
    .navbar > .navbar-collapse ul {
        width: 100%;
        padding: 0;
        margin: 7.5px 0;
    }
    .navbar > .navbar-collapse .navbar-btn-drop button {
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .navbar > .navbar-collapse .navbar-btn-drop button i:nth-child(2) {
        float: right;
    }
    /*--------------------------------------*/
    /*-------------- Carrusel --------------*/
    /*--------------------------------------*/
    .carousel-container,
    .carousel-container.active {
        height: 30vh;
        transition: none;
    }
    .carousel-container > div img,
    .carousel-container.active > div img {
        height: 30vh;
        transition: none;
    }
    .carousel-container.inactive,
    .carousel-container.inactive > div img {
        transition: none;
    }
    /*-------------------------------------*/
    /*---------------- Main ---------------*/
    /*-------------------------------------*/
    .articles-container {
        display: block;
    }
    /*---------------- Login --------------*/
    .panel-login {
        padding: 60px 0;
    }
    .panel-login > .panel {
        width: 100%;
    }
    /*---------------- Juegos -------------*/
    .jumbotron > h1 {
        font-size: 30px;
    }
    /*---------------- PPTLS --------------*/
    .pptsl-container > div button {
        width: 100%;
    }
    .pptsl-game-container > .game-window .game-home button {
        margin: 10px 0;
    }
    .pptsl-game-container > .game-window .game-home .btn-back button {
        margin: 0;
    }
    .pptsl-game-container > .game-window .game-home .start .btn-vs {
        display: none;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .name {
        margin-bottom: 0;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .options {
        margin-top: 0;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content h1 {
        font-size: 50px;
    }
    .pptsl-game-container > .game-window .game-home .content .rules .panel {
        width: 100%;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .options button {
        width: auto;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .characters ul, .pptsl-game-container > .game-window .game-home .content .in-game .strategies ul {
        margin-bottom: 50px;
    }
    /*-----------SUMA------------*/
    .suma-probar-container > .panel .panel-body .list-number .list-group li {
        width: calc((100% - 10px) / 3);
    }
}
@media (max-width: 520px) {
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby {
        margin-left: 10px;
        margin-right: 10px;
        border-width: 15px;
        width: calc(100% - 20px);
        height: 225px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .progress-bar-content {
        padding-left: 15px;
        padding-right: 15px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .progress-bar-content .progress {
        border-width: 5px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle i.fa,
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle:nth-child(2) i.back {
        font-size: 80px;
        bottom: 30px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content h1 {
        font-size: 30px;
    }
    /*-----------SUMA------------*/
    .suma-probar-container > .panel .panel-body .list-number .list-group li {
        width: calc((100% - 5px) / 2);
    }
}
@media (max-width: 410px) {
    .pptsl-game-container > .game-window .game-loading,
    .pptsl-game-container > .game-window .game-home {
        padding: 10px;
    }
    .pptsl-game-container > .game-window .game-home .content .start button i {
        display: none;
    }
    .pptsl-game-container > .game-window .game-home .content .rules .panel .panel-heading .btn-back {
        margin: 0;
        position: relative;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .in-game-name .name {
        height: 30px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .characters ul,
    .pptsl-game-container > .game-window .game-home .content .in-game .strategies ul {
        margin: 0;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .strategies ul li button {
        width: 55px;
        height: 55px;
    }
    .pptsl-game-container > .game-window .game-home .content .rules {
        padding: 10px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .progress-bar-content .progress {
        height: 30px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle .progress-bar-content {
        padding-left: 5px;
        padding-right: 5px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle i.fa, 
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby .lobby-content .battle:nth-child(2) i.back {
        font-size: 40px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .lobby {
        height: 200px;
        border-width: 5px;
    }
    .pptsl-game-container > .game-window .game-home .content .in-game .options button {
        padding: 5px 0;
        font-size: 15px;
        margin-top: 45px;
        width: 100%;
    }
    /*-----------SUMA------------*/
    .suma-probar-container > .panel .panel-body .list-number .list-group li {
        width: 100%;
    }
}
