<form>
    <div class="row info-cliente">
        <div class="col-sm-8">
            <h1>{{ clientesN.cliente.contactName }} ({{ clientesN.cliente.customerId }})</h1>
            <span>{{ clientesN.cliente.companyName }}</span>
            <br />
            <span>{{ clientesN.cliente.contactTitle }}</span>
            <br />
            <span>{{ clientesN.cliente.address }}</span>
            <br />
            <span>{{ clientesN.cliente.city }} ({{ clientesN.cliente.country }})</span>
            <br />
            <span>{{ clientesN.cliente.phone }}</span>
        </div>
        <div class="col-sm-4">
            <img ng-src="{{ clientesN.cliente.photo }}" alt="{{ clientesN.cliente.customerId }}">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-header">
                ORDENES
                <div class="icons">                            
                    <i class="fa fa-plus" style="cursor: pointer;" ng-click="clientesN.abrirOrden('Nuevo')" uib-tooltip="Agregar"></i>
                </div>                        
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6" ng-repeat="orden in clientesN.cliente.orders">
            <div class="thumbnail orders">
                <img class="img-rounded" src="/content/pictures/Northwind/Ordenes/banner.jpeg" alt="Ordenes">
                <label ng-click="clientesN.abrirOrden(orden)">{{ orden.orderId }}</label>
                <div class="actions">
                    <i class="fa fa-times" ng-click="clientesN.eliminarOrden(orden)"></i>
                </div>
            </div>
        </div>
    </div>
</form>