<form>
    <div class="row info-cliente">
        <div class="col-sm-5 text-center">
            <img ng-src="{{ clientesN.cliente.photo }}" style="width: 70%;" alt="User">
        </div>
        <div class="col-sm-7">
            <h1 ng-if="clientesN.esEdicion" class="page-header">{{ clientesN.cliente.customerId }}</h1>
            <div class="form-group" ng-if="!clientesN.esEdicion">
                <label>ID</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.customerId" />
            </div>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.contactName" />
            </div>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <label>Empresa:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.companyName" />
            </div>
        </div>
        <div class="col-sm-7">
            <div class="form-group">
                <label>Título:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.contactTitle" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Dirección:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.address" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Ciudad:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.city" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Región:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.region" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Código Postal:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.postalCode" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>País:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.country" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Teléfono:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.phone" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>FAX:</label>
                <input type="text" class="form-control" ng-model="clientesN.cliente.fax" />
            </div>
        </div>
    </div>
</form>