:root {
    --swiper-pagination-bottom: 25px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-color: #00b3b3;
    --swiper-pagination-bullet-width: 25px;
    --swiper-pagination-bullet-height: 5px;
    --swiper-pagination-bullet-border-radius: 0;
}
.main-background {
    padding-top: 40px;
    background-color: #212529;
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.main-background img,
.main-background span {
    height: calc(100vh - 40px);
    width: 130%;
    object-fit: cover;
}
.main-background img {
    box-shadow: -5px 0px 40px 0px rgba(0,0,0,0.5);
}
.main-background span {
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(33,37,41);
    background: linear-gradient(0deg, rgba(33,37,41,1) 10%, rgba(3,3,33,0) 100%);
}
.main-background .description {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.main-background .description h1,
.main-background .description p {
    color: antiquewhite;
    line-height: 1.5;
    text-align: justify;
}