<div class="well list-info">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>Cliente</label>
                <select class="form-control" ng-model="ordenesN.filtro.customer" ng-options="cliente.customerId as cliente.contactName for cliente in ordenesN.clientes"></select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Empleado</label>
                <select class="form-control" ng-model="ordenesN.filtro.employee" ng-options="empleado.employeeId as empleado.contactName for empleado in ordenesN.empleados"></select>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Fecha Desde</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="ordenesN.filtro.desde" is-open="ordenesN.fechaConfiguracion.f1" show-button-bar="false" datepicker-options="ordenesN.fechaConfiguracion" close-text="Cerrar" current-text="Hoy" clear-text="Limpiar" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="ordenesN.abrirFecha(1)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label>Fecha Hasta</label>
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="ordenesN.filtro.hasta" is-open="ordenesN.fechaConfiguracion.f2" show-button-bar="false" datepicker-options="ordenesN.fechaConfiguracion" close-text="Cerrar" current-text="Hoy" clear-text="Limpiar" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="ordenesN.abrirFecha(2)">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>País</label>
                <select class="form-control" ng-model="ordenesN.filtro.country" ng-options="pais as pais for pais in ordenesN.paises" style="margin-bottom: 0;">
                    <option value="">Todos</option>
                </select>
            </div>
        </div>
        <div class="col-sm-8">
            <label>Estado</label>
            <div class="row">
                <div class="col-sm-4">
                    <div></div>
                    <span>Pendiente</span>
                </div>
                <div class="col-sm-4">
                    <div></div>
                    <span>Enviado</span>
                </div>
                <div class="col-sm-4">
                    <div></div>
                    <span>Entregado</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Número</th>
                <th>Cliente</th>
                <th>Empleado</th>
                <th>Fecha</th>
                <th>País</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="orden in ordenesN.ordenes">
                <td>{{ orden.orderId }}</td>
                <td>{{ orden.customer.contactName }}</td>
                <td>{{ orden.employee.firstName }} {{ orden.employee.lastName }}</td>
                <td>{{ orden.orderDate }}</td>
                <td>{{ orden.shipCountry }}</td>
                <td style="display: flex; justify-content: center;">
                    <div class="info-status-item" ng-class="{ 'warning' : orden.status == 'Pendiente', 'info' : orden.status == 'Enviado', 'success' : orden.status == 'Entregado' }"></div>
                </td>
                <td class="text-center actions">
                    <a href="#!/Northwind/Ordenes/{{ orden.orderId }}"><i class="fa fa-search" uib-tooltip="Ver"></i></a>
                    <i class="fa fa-times" ng-click="ordenesN.eliminar(orden)" uib-tooltip="Eliminar"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <ul uib-pagination class="pagination-sm" ng-model="ordenesN.paginador.paginaActual" ng-change="ordenesN.cambiarPagina()" boundary-links="true" boundary-link-numbers="true" total-items="ordenesN.paginador.totalItems" items-per-page="ordenesN.paginador.itemsPagina" max-size="ordenesN.paginador.tamanoMax" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>